---
import Folder from '../assets/folder.svg'
import Compu from '../assets/programming-monitor-svgrepo-com.svg'
import Codigo from '../assets/codigo.svg'
import Cod from '../assets/cod.svg'
---


<section class="product-hero">
    <div class="container">
        <div class="d-table">
            <div class="d-table-cell center">
                <div class="hero-copy">
                    <h1 class="h1-title">Impulsa tu negocio con un sitio web profesional y atractivo.</h1>
                    <p> Nuestra agencia digital se especializa en crear sitios web cautivadores que convierten y venden. Póngase en contacto con nosotros para una consulta gratuita.</p>
                    <div class="product-cta">
                      <a href="http://wa.me/+595994386169" class="button button-primary u-full-width">Contactanos para mas info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

 <style lang="scss">


.product-hero{
  padding: 50px 0;
  .container{
    position: relative;
    .d-table{
      height: 500px;
     }
  }
  .hero-media{
    padding: 5px;
    border-radius: 48px;
  }
  .hero-copy{
    h1, p{
      max-width: 600px;
      margin: 20px auto;
    }
  }
  .hero-media{
    img{
      position: absolute;
      width: 160px;
      &:nth-child(1){
        top: 0;
        left: -100px;
      }
      &:nth-child(2){
        top: 0;
        right: -100px;
      }
      &:nth-child(3){
        top: 250px;
        left: 0;
      }
      &:nth-child(4){
        top: 250px;
        right: 0;
      }
      &:nth-child(5){
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    @media (max-width:700px) {
      img{
        &:nth-child(2), &:nth-child(3),
        &:nth-child(4){
          display: none;
        }
      }
    }
  }
}

 </style>