---

---


<section class="pricing-table" id="pricing">
    <div class="container">
        <div class="center text-container">
            <h3 class="h1-title">Elige el plan adecuado</h3>
            <p>Hemos diseñado nuestros precios muy accesibles para ayudarte a encontrar las mejores soluciones para ti y tu increíble negocio</p>
        </div>

        <div class="row">
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Landing Page</h5>
                    <h3 class="h2-title">Gs.1.000.000<span class="s-paragraph"> / Desde</span></h3>
                    <a href="https://wa.me/+595994386169?text=Hola,%20me%20interesa%20el%20servicio%20de%20Landing%20Page" target="_blank" class="button u-full-width">Me interesa</a>
                </div>

                <div class="price-list">
                    <p>Diseño personalizado y adaptado a tu marca</p>
                    <p>Optimización para dispositivos móviles</p>
                    <p>Integración con formularios de contacto o suscripción</p>
                    <p>Carga rápida y optimización de rendimiento</p>
                    <p>Conexión con Google Analytics</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Ecommerce</h5>
                    <h3 class="h2-title">Gs.3.000.000<span class="s-paragraph"> / Desde</span></h3>
                    <a href="https://wa.me/+595994386169?text=Hola,%20me%20interesa%20el%20servicio%20de%20Ecommerce" target="_blank" class="button u-full-width">Me interesa</a>
                </div>

                <div class="price-list">
                    <p>Diseño profesional y experiencia de usuario optimizada</p>
                    <p>Integración de pasarelas de pago seguras</p>
                    <p>Optimización on-page y off-page</p>
                    <p>Creación y mejora de meta etiquetas (títulos, descripciones)</p>
                    <p>Reportes y seguimiento mensual</p>
                </div>
            </div>
            <div class="one-third column price-item">
                <div class="price-header m-margin">
                    <h5 class="l-subtitle">Seo</h5>
                    <h3 class="h2-title">Gs.500.000<span class="s-paragraph"> / Desde</span></h3>
                    <a href="https://wa.me/+595994386169?text=Hola,%20me%20interesa%20el%20servicio%20de%20SEO" target="_blank" class="button u-full-width">Me interesa</a>
                </div>

                <div class="price-list">
                    <p>Auditoría y optimización técnica de tu sitio web</p>
                    <p>Investigación de palabras clave y estrategia de contenido</p>
                    <p>Análisis de la competencia y mejoras estratégicas</p>
                    <p>Reportes y seguimiento mensual</p>
                    <p>Creación y mejora de meta etiquetas (títulos, descripciones)</p>
                </div>
            </div>
        </div>
    </div>
 </section>


 <style lang="scss">

.pricing-table{
   background-color: #fff;
  .price-item{
    border: 1px solid #dde2e5;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    .price-header{
      h3 .s-paragraph{
        color: #9ba5b9;
      }
    }
    .price-list{
      p{
        margin: 10px 0;
        position: relative;
        padding-left: 20px;
        &::before{
          position: absolute;
          content: '';
          left: 0; top: 5px;
          display: inline-block;
          transform: rotate(45deg);
          height: 8px;
          width: 5px;
          border-bottom: 2px solid #9ba5b9;
          border-right: 2px solid #9ba5b9;
          z-index: 5;
        }
      }
    }
    
  }
}
 </style>